<RunSettings>
    <JSTest>
        <TestFramework>karma</TestFramework>
        <TestFrameworkConfigJson>{
            "timeout": 60000,
            "debug" : "false",
            "isPowerApps" : "false",
            "frameworks": ["mocha", "chai"],
            "browsers": ["Chrome"]
        }</TestFrameworkConfigJson>
        <DebugLogs>false</DebugLogs>
        <DebugFilePath></DebugFilePath>
    </JSTest>
</RunSettings>
